---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="container py-10">
    <p>
      To get started with Astro, check out <a href="https://docs.astro.build"
        >the Astro docs</a
      >.
    </p>
    <p>
      To get started with Tailwind, check out <a
        href="https://tailwindcss.com/docs/installation">the Tailwind docs</a
      >.
    </p>
  </section>
</Layout>
